body{
    margin: 0;
    padding: 0;
    font-style: 15px;
    background-color: #f4f4f4;
}
.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}
#loading {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0px 0px -75px;
    border: 10px;
    border-style: solid;
    border-color: yellow;
    border-radius: 50%;
    border-top: 10px solid #0d3854;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
}
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.animate-bottom {
    position: relative;
    display: none;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 2s;
    animation-name: animatebottom;
    animation-duration: 2s;
}

@-webkit-keyframes animatebottom {
    from {
        bottom: -100px;
        opacity: 0;
    }
    to {
        bottom: 0px;
        opacity: 1;
    }
}

@keyframes animatebottom {
    from {
        bottom: -100px;
        opacity: 0;
    }
    to {
        bottom: 0px;
        opacity: 1;
    }
}

#Start {
    display: none;
}

header{
    background: linear-gradient(to right,#79767a,#bfbac2 );
    color: #fff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: 5px solid #bfbac2;
}

header #branding{
    float: left;
}

header #branding h1{
    margin: 0;

}
header nav{
    float: right;
    margin-top: 10px;
}

header li{
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
    margin-top: 5px;
}

header a{
    color: #0a0a0a;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}
ul{
    margin: 0;
    padding: 0;
}

header #branding, header .active a{
    color: #fff;
    font-weight: bold;
}

header a:hover{
    color: #79767a;
    font-weight: bold;
}


.inner-container{
    width: 70%;
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #1e1d52;
    padding: 65px;
}

.inner-container h1{
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 900;
    color: #fcfce6;
}
.inner-container h2{
    margin-bottom: 10px;
    font-size: 25px;
    font-weight: 600;
    color: #fcfce6;
}

.text{
    font-size: 18px;
    color: #fcfce6;
    line-height: 30px;
    margin-bottom: 1px;
}
footer{
    padding: 20px;
    margin-top: 20px;
    color: #fff;
    background: linear-gradient(to right,#79767a,#bfbac2 );
    text-align: center;
}

/*responsive*/
@media(max-width: 768px){
    header #branding,
    header nav,
    header nav li,
    .inner-container,
    .about-section
    {
        float: none;
        width: 100%;
        text-align: center;
    }

    header{
        padding-bottom: 20px;
    }
    .inner-container{
        padding: 80px;
    }
    .about-section{
        background-size: 100%;
        padding: 100px 40px;
    }
    .inner-container{
        width: 100%;
    }
    .about-section{
        padding: 0;
    }
    .inner-container{
        padding: 60px;
    }
    }
}

@media screen and (max-width:1200px){
    .inner-container{
        padding: 80px;
    }
}

@media screen and (max-width:1000px){
    .about-section{
        background-size: 100%;
        padding: 100px 40px;
    }
    .inner-container{
        width: 50%;
    }
}

@media screen and (max-width:600px){
    .about-section{
        padding: 0;
    }
    .inner-container{
        padding: 100px;
    }
}
